nav ul li {
    display: inline-block;
    float: right;

}
li{
    padding: 2px;
}
#imgRss{
padding-left: 10px;
}
#logoUl{
    float: left;
}
#logoUl li h1,p{
    margin: 0;

}
#logoUl li h1{
    font-family: 'Lobster', cursive;
}
#smallImg{
}
hr {
    height: 10px;
    color: rgb(168, 168, 168);
    color: rgb(194, 194, 194);
    background-image: linear-gradient(45deg, transparent, transparent 25%, currentColor 20%, currentColor 50%, transparent 50%, transparent 75%, currentColor 75%,transparent 100%, currentColor 100%,transparent 125%, currentColor 125%,transparent 150%, currentColor 150%);
    background-size: 6px 6px;
    width: 100%;
    height: 13px;
    border: none;
}

header{
    padding-bottom: 100px;
    padding-left: 120px;
    padding-right: 120px;
}

#para{
   
    color: rgb(155, 154, 154);
    font-size: larger;
 }

 #image1{
    float: right;
}
#image2 {
    width: 100%;
    text-align: center;
}
#listImg{
    width: 100%;
    padding-top: 30px;
}
#mainP h1,p{
    
    width: 100%;


}
#mainP h1{
    
margin-top: 20px;
margin-bottom: 0px;
}



.container {
    border: 1px solid rgb(235, 229, 229);
    padding: 3px;
    box-shadow: 0px 7px rgb(216, 211, 211);
    margin-top: 40px;
    width: 100%;
    background-image: url('../lab-assets/list-bg.png');
    background-size: 100%;
    max-width: 100%;
    height: 350px;
    margin-bottom: 40px;
}


#column-2{
    float: left;
    padding-left: 45px;
    width: 50%;
}
input {
    margin-top: 23px;
    margin-left: 20px;
}

label {
    font-family: cursive;
    color: #896A61;
font-size: larger;
font-weight: bold;
}
body {
    margin-left: 13%;
    margin-right: 13%;
}
 
#footer{
        padding-left:150px ;
        padding-top: 30px;
}
#footer2{
    float:right;
    
}
#bt{
    float: right;
    background-color: #aa3c30;
    
}
#footerPart {
    display: inline-block;
    margin-top: 20px;
}

#footerPart img {
    margin-right: 5%;
    float: left;
}

#footerPart {
    padding-left: 150px;
    width: 100%;
    display: inline-block;
}

#footerPart p {
    margin-top: 5%;
    margin-right: 7%;
    display: inline;
    margin-top: 0px;
    text-align: left;

}

#P1 {
    font-weight: bold;
    font-size: 25px;
    font-family: serif;
    opacity: 60%;
}

#P2 {
    font-size: 20px;
    font-family: serif;
    opacity: 50%;
    margin-right:150px ;
    text-transform:unset ;
    float: left;
   
}

    

#final{
    text-align: center;

}
#final:before,#final:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 50%;
    border-top-style: solid;
    border-top-width: 0.5px;


}
#final::before{
    opacity: 20%;
    right: 0em;
    margin-left: -50%;

}
#final::after{
    opacity: 20%;
    left: 0em;
    margin-right: -50%;
    
}
footer p {
    text-align: center;
}
button{
 
   float: right;
    text-align: center;; 
    background-color: #BC7058;
    margin-right: 280px;
    padding:20px 30px;
    color: white;
}